<%= stylesheet_link_tag 'passwords/new', media: 'all' %>
<div class="container">

  <div class="register__header">
    <%= link_to new_user_session_path do %>
      <i class="fas fa-arrow-left"></i>
    <% end %>
    <h2>Password Reset</h2>
  </div>
  <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>

    <div class="field">
      <%= f.email_field :email, placeholder: 'Email', class:'field__input', autofocus: true, autocomplete: "email" %>
    </div>

    <div class="actions">
      <%= f.submit "Next", class:'submit-btn' %>
    </div>
  <% end %>

  <div class="links">
    <%= render "devise/shared/links" %>
    <% if flash[:error] %>
      <div class="alert alert-danger">
        <%= flash[:error] %>
      </div>
    <% end %>
  </div>
</div>
